<div style="margin-top: 5rem;">
    <style>
        .product-img-container {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("../../../assets/static/images/product-placeholder.png");
            height: 220px;
            width: 100%;
        }
    </style>
    <h1 class="mx-auto text-center" style="margin-bottom: 6rem;">Our Products</h1>
    <div class="mx-auto text-center">
        <div 
            style="width: 17%; display: inline-block;" 
            class="mx-5 my-3"
            *ngIf="'Product name goes here'.includes(term)"
        >
            <h6 style="background-color: #fff5; border-radius: 0 10px 0 0;" class="m-0 py-2 px-2">Product name goes here</h6>
            <div class="col-12 product-img-container"></div>
            <div style="background-color: #fff1; justify-content: space-between; align-items: center;" class="p-3 d-flex">
                <h3>$19.99</h3>
                <a routerLink="products/id" class="btn btn-success">Go</a>
            </div>
        </div>
        <div 
            style="width: 17%; display: inline-block;" 
            class="mx-5 my-3"
            *ngIf="'Product name goes here'.includes(term)"
        >
            <h6 style="background-color: #fff5; border-radius: 0 10px 0 0;" class="m-0 py-2 px-2">Product name goes here</h6>
            <div class="col-12 product-img-container"></div>
            <div style="background-color: #fff1; justify-content: space-between; align-items: center;" class="p-3 d-flex">
                <h3>$19.99</h3>
                <a routerLink="products/id" class="btn btn-success">Go</a>
            </div>
        </div>
        <div 
            style="width: 17%; display: inline-block;" 
            class="mx-5 my-3"
            *ngIf="'Product name goes here'.includes(term)"
        >
            <h6 style="background-color: #fff5; border-radius: 0 10px 0 0;" class="m-0 py-2 px-2">Product name goes here</h6>
            <div class="col-12 product-img-container"></div>
            <div style="background-color: #fff1; justify-content: space-between; align-items: center;" class="p-3 d-flex">
                <h3>$19.99</h3>
                <a routerLink="products/id" class="btn btn-success">Go</a>
            </div>
        </div>
        <div 
            style="width: 17%; display: inline-block;" 
            class="mx-5 my-3"
            *ngIf="'Product name goes here'.includes(term)"
        >
            <h6 style="background-color: #fff5; border-radius: 0 10px 0 0;" class="m-0 py-2 px-2">Product name goes here</h6>
            <div class="col-12 product-img-container"></div>
            <div style="background-color: #fff1; justify-content: space-between; align-items: center;" class="p-3 d-flex">
                <h3>$19.99</h3>
                <a routerLink="products/id" class="btn btn-success">Go</a>
            </div>
        </div>
        <div 
            style="width: 17%; display: inline-block;" 
            class="mx-5 my-3"
            *ngIf="'Product name goes here'.includes(term)"
        >
            <h6 style="background-color: #fff5; border-radius: 0 10px 0 0;" class="m-0 py-2 px-2">Product name goes here</h6>
            <div class="col-12 product-img-container"></div>
            <div style="background-color: #fff1; justify-content: space-between; align-items: center;" class="p-3 d-flex">
                <h3>$19.99</h3>
                <a routerLink="products/id" class="btn btn-success">Go</a>
            </div>
        </div>
        <div 
            style="width: 17%; display: inline-block;" 
            class="mx-5 my-3"
            *ngIf="'Product name goes here'.includes(term)"
        >
            <h6 style="background-color: #fff5; border-radius: 0 10px 0 0;" class="m-0 py-2 px-2">Product name goes here</h6>
            <div class="col-12 product-img-container"></div>
            <div style="background-color: #fff1; justify-content: space-between; align-items: center;" class="p-3 d-flex">
                <h3>$19.99</h3>
                <a routerLink="products/id" class="btn btn-success">Go</a>
            </div>
        </div>
        <div 
            style="width: 17%; display: inline-block;" 
            class="mx-5 my-3"
            *ngIf="'Product name goes here'.includes(term)"
        >
            <h6 style="background-color: #fff5; border-radius: 0 10px 0 0;" class="m-0 py-2 px-2">Product name goes here</h6>
            <div class="col-12 product-img-container"></div>
            <div style="background-color: #fff1; justify-content: space-between; align-items: center;" class="p-3 d-flex">
                <h3>$19.99</h3>
                <a routerLink="products/id" class="btn btn-success">Go</a>
            </div>
        </div>
        <div 
            style="width: 17%; display: inline-block;" 
            class="mx-5 my-3"
            *ngIf="'Product name goes here'.includes(term)"
        >
            <h6 style="background-color: #fff5; border-radius: 0 10px 0 0;" class="m-0 py-2 px-2">Product name goes here</h6>
            <div class="col-12 product-img-container"></div>
            <div style="background-color: #fff1; justify-content: space-between; align-items: center;" class="p-3 d-flex">
                <h3>$19.99</h3>
                <a routerLink="products/id" class="btn btn-success">Go</a>
            </div>
        </div>
        <div 
            style="width: 17%; display: inline-block;" 
            class="mx-5 my-3"
            *ngIf="'Product name goes here'.includes(term)"
        >
            <h6 style="background-color: #fff5; border-radius: 0 10px 0 0;" class="m-0 py-2 px-2">Product name goes here</h6>
            <div class="col-12 product-img-container"></div>
            <div style="background-color: #fff1; justify-content: space-between; align-items: center;" class="p-3 d-flex">
                <h3>$19.99</h3>
                <a routerLink="products/id" class="btn btn-success">Go</a>
            </div>
        </div>
        
    </div>
</div>
