<div style="margin-top: 5rem;">
    <style>
        .product-img-container {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("../../../assets/static/images/product-placeholder.png");
            width: 100%;
            height: 250px;
        }
    </style>
    <h1 class="mx-auto text-center" style="margin-bottom: 6rem;">Our Products</h1>
    <div class="d-flex" style="justify-content: center; flex-wrap: wrap;">
        <div *ngFor="let product of products; let i = index">
            <div 
                style="width: 300px;"
                class="mx-5 my-3"
                *ngIf="product.name.toLowerCase().includes(term.toLowerCase())"
            >
                <h6 
                    style="background-color: #fff5; border-radius: 0 10px 0 0;" 
                    class="m-0 py-2 px-2"
                >{{ product.name }}</h6>
                <div class="product-img-container" [style.backgroundImage]="'url(' + product.imageUrl + ')'"></div>
                <div 
                    style="background-color: #fff1; justify-content: space-between; align-items: center;" 
                    class="p-3 d-flex"
                >
                    <h3>${{ product.price | number : '1.2-2' }}</h3>
                    <a routerLink="/shop/products/{{ product.id }}" class="btn btn-success">Go</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
