<div class="px-5 col-12" style="margin-top: 5rem;">
    <h1 class="mx-auto text-center mb-5">Register</h1>
    <form class="col-7 mx-auto mt-5" action="" (submit)="register()">
        <div class="d-flex col-12 my-3">
            <input 
                type="text" 
                placeholder="Username" 
                name="username" 
                id="username" 
                style="flex: 1; border: 1px solid #fffa;" 
                class="mx-3 bg-transparent rounded p-2 text-light"
                [(ngModel)]="username"
            />
            <input 
                type="text" 
                placeholder="Email" 
                name="email" 
                id="email" 
                style="flex: 2; border: 1px solid #fffa;" 
                class="mx-3 bg-transparent rounded p-2 text-light" 
                [(ngModel)]="email"
            />
        </div>
        <div class="d-flex col-12 my-3">
            <input 
                type="password" 
                placeholder="Password" 
                name="password" 
                id="password" 
                style="flex: 1; border: 1px solid #fffa;" 
                class="mx-3 bg-transparent rounded p-2 text-light"
                [(ngModel)]="password"
            />
            <input 
                type="password" 
                placeholder="Confirm password" 
                name="confirmPassword" 
                id="confirmPassword" 
                style="flex: 1; border: 1px solid #fffa;" 
                class="mx-3 bg-transparent rounded p-2 text-light" 
                [(ngModel)]="passwordConfirm"
            />
        </div>
        <div class="d-flex col-12 my-3">
            <input 
                type="text" 
                placeholder="Address" 
                name="address" 
                id="address" 
                style="flex: 4; border: 1px solid #fffa;" 
                class="mx-3 bg-transparent rounded p-2 text-light"
                [(ngModel)]="address"
            />
            <input 
                type="text" 
                placeholder="Phone" 
                name="phone" 
                id="phone" 
                style="flex: 2; border: 1px solid #fffa;" 
                class="mx-3 bg-transparent rounded p-2 text-light" 
                [(ngModel)]="phone"
            />
        </div>
        <input 
            type="text" 
            placeholder="Name" 
            name="name" 
            id="name" 
            style="border: 1px solid #fffa;" 
            class="mx-3 bg-transparent rounded p-2 col-4 d-block text-light" 
            [(ngModel)]="name"
        />
        <input 
            type="submit"
            value="Register" 
            style="border: 1px solid #fffa;" 
            class="mx-3 mt-5 rounded p-2 col-2 d-block btn btn-primary" 
        />
        <h4 
            *ngIf="error"
            style="text-align: center;" 
            class="alert-danger p-2 m-5 rounded"
        >{{error}}</h4>
    </form>
</div>