<div class="mx-5" style="margin-top: 5rem;">
    <h1>John Doe</h1>
    <h5 class="text-muted">johndoe &#xb7; johndoe@email.com</h5>
    <div class="d-flex" style="align-items: baseline;">
        <fa-icon [icon]="marker" style="margin-right: 1rem;" size="1x"></fa-icon>
        <h6>9999 Somewhere Avenue 00000, The City, State, Country</h6>
    </div>
    <div class="d-flex" style="align-items: baseline;">
        <fa-icon [icon]="phone" style="margin-right: 1rem;" size="1x"></fa-icon>
        <h6>+18167777777</h6>
    </div>
    <h6>5 items in cart</h6>
    <div class="mt-5">
        <button class="btn btn-primary" style="margin-right: 0.6rem;">Edit</button>
        <button class="btn btn-danger mx-2">Delete</button>
        <button class="btn btn-info mx-2">Log out</button>
    </div>
</div>